.calcu  {
    margin: auto;
    background-color: black;
    border: 2px solid whitesmoke;
    width: 24%;
    height: 630px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px;
}
.minput  {
    background-color: black;
    border: 1px solid grey;
    height: 125px;
    width: 98.2%;
    font-size: 80px;
    color: whitesmoke;
    font-weight: 00;
}
.numbtn   {
    padding: 30px 35px;
    border-radius: 50px;
    font-weight: 500;
    font-size:large;
    background-color: rgb(155, 154, 154);
}
.numbtn:hover   {
    background-color: rgb(136, 133, 133);
    color: whitesmoke
}
.defbtn {
    padding: 30px 35px;
    border-radius: 50px;
    font-size:30px;
    background-color: orange;
}
.defbtn:hover{
    background-color: rgb(211,140,7);
    color: whitesmoke;
}
.c{
    padding: 30px 35px;
    border-radius: 50px;
    font-weight: 500;
    font-size:large;
    background-color: red;
}
.c:hover{
    background-color: rgb(188,16,16);
    color: whitesmoke;
}
.equal {
    padding: 30px 35px;
    border-radius: 50px;
    font-weight: 500;
    font-size:large;
    background-color: rgb(8,181,8);
}
.equal:hover    {
    background-color: green;
    color: whitesmoke;
}